@font-face{
    font-family: font1;
    src: url(../../fonts/SourceSansPro-Light.otf);
}
*{
    font-family: font1;
}

.laki{
    height: 40vh;
}
.img{
    height: 10vh;
}
.cont{
    height: auto;
}
.meaning{
    font-size: 20px;
}
