@font-face{
    font-family: font1;
    src: url(../../fonts/SourceSansPro-Light.otf);
}
*{
    font-family: font1;
}

.img{
    height: 10vh;
}
.parallax-container{
    height: 80vh;
}
.edit{
    height: 360px;
}
.gap{
    margin-top: 10%;
}
