@font-face {
    font-family: font1;
    src: url(../../fonts/SourceSansPro-Light.otf);
}

body{
    font-family: font1;
}

pre{
    background-color: white;
    color: black;
    white-space: pre-wrap;

}

ul {
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
    list-style-type: disc;
}
ul li {
  list-style-type: circle;
}

.questions {
    font: 50px !important;
}

.class ul li{
    {
        list-style-type:circle;
        
    }
}

h5 .grey{
    opacity: 0.7;
}